@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dosis/v14/HhyJU5sn9vOmLxNkIwRSjTVNWLEJt7Ml2xMB.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dosis/v14/HhyJU5sn9vOmLxNkIwRSjTVNWLEJabMl2xMB.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dosis/v14/HhyJU5sn9vOmLxNkIwRSjTVNWLEJN7Ml2xMB.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dosis/v14/HhyJU5sn9vOmLxNkIwRSjTVNWLEJBbMl2xMB.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dosis/v14/HhyJU5sn9vOmLxNkIwRSjTVNWLEJ6bQl2xMB.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dosis/v14/HhyJU5sn9vOmLxNkIwRSjTVNWLEJ0LQl2xMB.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dosis/v14/HhyJU5sn9vOmLxNkIwRSjTVNWLEJt7Ql2xMB.ttf) format('truetype');
}
@font-face {
  font-family: 'Varela';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Varela'), url(https://fonts.gstatic.com/s/varela/v10/DPEtYwqExx0AWHX5Ax4B.ttf) format('truetype');
}
/*
font-family: 'Dosis', sans-serif;
font-family: 'Varela', sans-serif;
*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Varela', sans-serif;
  font-size: 18px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQYV2NkQALv3r37zwjjgzhCQkKMYAEYB8RmROaABAAS4A/Olzn5YAAAAABJRU5ErkJggg==');
}
@media screen and (min-width: 1200px) {
  html,
  body {
    font-size: 20px;
  }
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: #ccc;
}
body::-webkit-scrollbar-thumb {
  background-color: #5a8cc5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.1;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
.inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.color-a {
  color: #5a8cc5;
}
.cv-main {
  box-shadow: inset 0 20px 0 0 #2269bb, inset 0 24px 0 0 #1c5698, inset 0 -20px 0 0 #2269bb, inset 0 -24px 0 0 #1c5698;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .cv-main {
    box-shadow: inset 0 40px 0 0 #2269bb, inset 0 44px 0 0 #1c5698, inset 0 -40px 0 0 #2269bb, inset 0 -44px 0 0 #1c5698;
    padding-top: 44px;
    padding-bottom: 44px;
  }
}
@media screen and (min-width: 992px) {
  .cv-main {
    box-shadow: inset 0 80px 0 0 #2269bb, inset 0 84px 0 0 #1c5698, inset 0 -80px 0 0 #2269bb, inset 0 -84px 0 0 #1c5698;
    padding-top: 84px;
    padding-bottom: 84px;
  }
}
.cv-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .cv-header {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.cv-header .cv-header-avatar {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .cv-header .cv-header-avatar img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 768px) {
  .cv-header .cv-header-avatar img {
    width: 154px;
    height: 154px;
  }
}
.cv-header .cv-header-titles {
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .cv-header .cv-header-titles .cv-header-title {
    font-size: 60px;
  }
}
.cv-header .cv-header-titles .cv-header-subtitle {
  font-size: 20px;
}
.cv-header .cv-header-address {
  padding-top: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .cv-header .cv-header-address {
    padding-top: 50px;
    height: 154px;
    text-align: right;
  }
}
.cv-section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.cv-section .cv-section-header {
  margin-bottom: 24px;
}
.cv-section .cv-section-header .cv-section-header-title {
  height: 26px;
  line-height: 26px;
  font-size: 24px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .cv-section .cv-section-header .cv-section-header-title {
    text-align: right;
  }
}
@media screen and (min-width: 1200px) {
  .cv-section .cv-section-header .cv-section-header-title {
    height: 28px;
    line-height: 28px;
    font-size: 26px;
  }
}
.cv-section .cv-section-header .cv-section-header-border {
  background-color: #2269bb;
  margin-top: 11px;
  height: 4px;
}
.cv-section .cv-section-body .cv-article {
  margin-bottom: 16px;
}
.cv-section .cv-section-body .cv-article .article-title {
  font-size: 18px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #5a8cc5;
}
@media screen and (max-width: 767px) {
  .cv-section .cv-section-body .cv-article .article-title {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 768px) {
  .cv-section .cv-section-body .cv-article .article-title {
    text-align: right;
  }
}
@media screen and (min-width: 1200px) {
  .cv-section .cv-section-body .cv-article .article-title {
    font-size: 20px;
  }
}
.cv-section .cv-section-body .cv-article .article-subtitle {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}
@media screen and (min-width: 1200px) {
  .cv-section .cv-section-body .cv-article .article-subtitle {
    font-size: 20px;
  }
}
.cv-section .cv-section-body .cv-article .article-subtitle small {
  display: block;
  margin-top: 2px;
  font-weight: bold;
  font-size: 10px;
  color: #5a8cc5;
}
@media screen and (min-width: 1200px) {
  .cv-section .cv-section-body .cv-article .article-subtitle small {
    font-size: 14px;
  }
}
